---
import BasicLayout from "../layouts/BasicLayout.astro";
---

<BasicLayout>
	<body>
		<h1>About me</h1>
		<h3>▶誰？</h3>
		外付け煮干　あるいはその他の複数の名義(<a href="https://twitter.com/composershandle">例１</a>)
		<h3>▶所属</h3>
			サークル<a href="https://ringo-amezaiku.booth.pm">「林檎飴細工」</a>第一編集
		<h3>▶文化・製作</h3>
		一番上以外はろくに動かしていません　ゆるしてください
		<h4>動画</h4>
		<table border="1">
			<tr>
				<td>ニコニコ動画(メイン)</td>
				<td><a href="https://www.nicovideo.jp/user/57970701">外付け煮干</a></td>
			</tr>
			<tr>
				<td>ニコニコ動画(サブ)</td>
				<td><a href="https://www.nicovideo.jp/user/131391734">裏付け煮干</a></td>
			</tr>
		</table>
		<a href="/movietop/">動画群について</a><br>
		<h4>文など</h4>
		<table border="1">
			<tr>
				<td>pixiv</td>
				<td><a href="https://www.pixiv.net/users/92028318">外付け煮干</a></td>
			</tr>
			<tr>
				<td>hatenablog</td>
				<td><a href="https://exniboshi.hatenablog.com">幻覚窟</a></td>
			</tr>
			<tr>
				<td>GitHub</td>
				<td><a href="https://github.com/philosopherwaterhead">philosopherwaterhead</a></td>
				</tr>
			</table>
		<br>
		<h1>▶相互(あるいは一方的な)リンク</h1>
		<li><a href="https://sueakiyama.github.io">Le Site Web de Suika AKIYAMA</a>(秋山萃花 氏)</li>
	</body>
</BasicLayout>
