---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<a href="/">サイトトップ</a>
		<a href="/smtop/">数理</a>
		<a href="/posts/law/">基本法</a>
		<a href="/posts/lawpractice/">基本法施行令</a>
		<a href="/posts/aim/">目標法</a>
		<a href="/posts/document/">文書記録管理法・同規則</a>
		<a href="/posts/priority/">優先順位規則</a>
		<h1>About me</h1>
		<h3>~工事中~</h3>
	</body>
</html>
