---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>

		<Navigation />
		<h1>About me</h1>
		<h3>~工事中~</h3>
		<br>
		<h1>相互リンク</h1>
		<h3></h3>
	</body>
</html>
