---
import BasicLayout from "../layouts/BasicLayout.astro";
---

<BasicLayout>
  <body>

    <h1>法集</h1>
    社会適応用規則。
    <ul>
      <li><a href="/posts/law/">基本法</a></li>
      <li><a href="/posts/lawpractice/">基本法施行規則</a></li>
      <li><a href="/posts/aim/">目標法</a></li>
      <li><a href="/posts/priority/">優先順位規則</a></li>
      <li><a href="/posts/document/">文書記録管理法・同規則</a></li>
    </ul>
  </body>
</BasicLayout>