---
import Navigation from "../components/Navigation.astro";
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/svg.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Comph-notes</title>
	</head>
	<body>
	<Navigation />

    ~工事中~
	</body>
</html>
    