---
import BasicLayout from "../layouts/BasicLayout.astro";
const allPosts = await Astro.glob('../pages/obsidian/*.md');
---
<BasicLayout>
  <body>
    <h1>日記</h1>
    日記。
    <ul>
        {allPosts.map((post) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
    </ul>
  </body>
</BasicLayout>