<html lang = "en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>Astro</title>
  </head>
  <body>
    <a href="/">サイトトップ</a>
	<a href="/smtop/">数理</a>

    <h1>数理</h1>
    <ul>
      <li><a href="/posts/sm01/">Bertrandの定理の証明概略</a></li>
      <li><a href="/posts/sm02/">正規直交基底に関する備忘録</a></li>
    </ul>
  </body>
</html>