---
import BasicLayout from "../layouts/BasicLayout.astro";
---
<BasicLayout>
<html lang = "ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/svg.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Comph-notes</title>
	</head>
  <body>

    <h1>数理</h1>
    数理に関するおぼえがき。
    <ul>
      <li><a href="/posts/sm01/">Bertrandの定理の証明概略</a></li>
      <li><a href="/posts/sm02/">正規直交基底に関する備忘録</a></li>
    </ul>
  </body>
</html>
</BasicLayout>